[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jsonpath = "*"
pymysql = "*"
openpyxl = "*"
path = "*"
requests = "*"
pytest = "*"
gevent = "*"
selenium = "==4.4.3"
paramiko = "*"

[dev-packages]

[requires]
python_version = "3.10"
